{% extends 'cars/base.html' %}

{% block content %}

    <div>
         <table class="table table-hover">
            <tr>
                <th>Car Model</th>
                <th>Car Make</th>
                <th>Car Type</th>
                <th>Fuel Type</th>
                <th>Remarks</th>
            </tr>
            {% for car in cars %}
            <tr>
                <td><a href="">{{ car.name }}</a></td>
                <td>{{ car.make }}</td>
                <td>{{ car.model_type }}</td>
                <td>{{ car.ftype }}</td>
                <td>{{ car.remarks }}</td>
            </tr>
            {% endfor %}
        </table> 
    </div>

{% endblock %}