<html>
    <head>
        <title>Welcome to Cars Database</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    </head>
    <body>
        <div class="container">
            <h1><a href="/">Cars Database</a></h1>
        </div>

    <div>
        <table class="table table-hover">
            <tr>
                <th>Car Model</th>
                <th>Car Make</th>
                <th>Car Type</th>
                <th>Fuel Type</th>
                <th>Remarks</th>
            </tr>
            {% for car in cars %}
            <tr>
                <td><a href="">{{ car.name }}</a></td>
                <td>{{ car.make }}</td>
                <td>{{ car.model_type }}</td>
                <td>{{ car.ftype }}</td>
                <td>{{ car.remarks }}</td>
            </tr>
            {% endfor %}
        </table> 
    </div>
    </body>
</html>